/finra_scraper_v1.1.zip
/data/
/stonks/data/
/output/
/.vscode
/local_testing/
tests/tests/mocks/output/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
coverage_html_report/coverage_html.js
coverage_html_report/favicon_32.png
coverage_html_report/index.html
coverage_html_report/jquery.ba-throttle-debounce.min.js
coverage_html_report/jquery.hotkeys.js
coverage_html_report/jquery.isonscreen.js
coverage_html_report/jquery.min.js
coverage_html_report/jquery.tablesorter.min.js
coverage_html_report/keybd_closed.png
coverage_html_report/keybd_open.png
coverage_html_report/status.json
coverage_html_report/stonks___init___py.html
coverage_html_report/stonks_app_py.html
coverage_html_report/stonks_components___init___py.html
coverage_html_report/stonks_components_base_component_py.html
coverage_html_report/stonks_components_base_fetcher_py.html
coverage_html_report/stonks_components_base_parser_py.html
coverage_html_report/stonks_components_base_writer_py.html
coverage_html_report/stonks_components_filename_py.html
coverage_html_report/stonks_components_handlers___init___py.html
coverage_html_report/stonks_components_handlers_finra___init___py.html
coverage_html_report/stonks_components_handlers_finra_constants_py.html
coverage_html_report/stonks_components_handlers_finra_finra_fetcher_py.html
coverage_html_report/stonks_components_handlers_finra_finra_parser_py.html
coverage_html_report/stonks_components_handlers_secftd___init___py.html
coverage_html_report/stonks_components_handlers_secftd_constants_py.html
coverage_html_report/stonks_components_handlers_secftd_secftd_fetcher_py.html
coverage_html_report/stonks_components_handlers_secftd_secftd_parser_py.html
coverage_html_report/stonks_components_manager___init___py.html
coverage_html_report/stonks_components_manager_handler_base_py.html
coverage_html_report/stonks_components_manager_source_handler_py.html
coverage_html_report/stonks_components_manager_utils_py.html
coverage_html_report/stonks_components_manager_writer_handler_py.html
coverage_html_report/stonks_components_writers___init___py.html
coverage_html_report/stonks_components_writers_aggregate_writer___init___py.html
coverage_html_report/stonks_components_writers_aggregate_writer_constants_py.html
coverage_html_report/stonks_components_writers_aggregate_writer_single_file_writer_py.html
coverage_html_report/stonks_components_writers_ticker_writer___init___py.html
coverage_html_report/stonks_components_writers_ticker_writer_constants_py.html
coverage_html_report/stonks_components_writers_ticker_writer_single_ticker_writer_py.html
coverage_html_report/stonks_constants_py.html
coverage_html_report/stonks_definitions_py.html
coverage_html_report/stonks_exceptions_py.html
coverage_html_report/stonks_settings___init___py.html
coverage_html_report/stonks_settings_settings_py.html
coverage_html_report/stonks_utils_py.html
coverage_html_report/style.css
